## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
publish/
*.zip

## Visual Studio cache and settings
.vs/
*.user
*.userosv
*.suo
*.userprefs
*.pidb
*.booproj
*.svclog

## OS generated
.DS_Store
Thumbs.db
